<section style="height:100vh;" layout="row" layout-align="start stretch">
    
        <md-sidenav flex-gt-sm="20" class="md-sidenav-left nav" md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left" id="leftSideNav">
            <header layout="column" layout-padding layout-align="center center">
                <img src="../images/pethotel.png" alt="" style="height:200px;width:200px;">
                <h1>Pet Hotel</h1>
            </header>
            <md-content layout="column">
                <md-button layout layout-align="start stretch" href="#!/">Home</md-button>
                <md-button layout layout-align="start stretch" href="#!/dashboard">Dashboard</md-button>
                <md-button layout layout-align="start stretch" href="#!/owners">Owners</md-button>
            </md-content>
        </md-sidenav>
</section>