<section>
        <md-sidenav layout="column" layout-align="start center" class="md-sidenav-left site-sidenav" md-is-locked-open="$mdMedia('gt-md')"
        md-component-id="left" id="leftSideNav">
        <md-toolbar layout layout-align="center center">
            Navigation
        </md-toolbar>
        <md-content layout="column">
                    <md-button flex="100" href="#!/">Home</md-button>      
                    <md-button flex="100" href="#!/dashboard">Dashboard</md-button>  
                    <md-button flex="100" href="#!/owners">Owners</md-button>
        </md-content>
    </md-sidenav>
</section>