<h1>this is the owners page</h1>

<h2>{{vm.message}}</h2>
<form ng-submit="vm.addOwner(vm.ownerToAdd)">
    <input type="text" placeholder="First Name" ng-model="vm.ownerToAdd.first_name">
    <input type="text" placeholder="Last Name" ng-model="vm.ownerToAdd.last_name"> 
    <input type="submit">
</form>
<md-toolbar class="md-theme-light" layout=row layout-padding>
    <p flex="40">owner</p>
    <p flex="40">Pets</p>
    <p>delete</p>
</md-toolbar>
<md-divider layout="row" layout-xs="row" layout-padding ng-repeat="owner in vm.owners">
    <div flex="40">{{owner.first_name}} {{owner.last_name}}</div>
    <div flex="40">{{owner.count}}</div>
    <md-button class="md-raised" ng-click="vm.deleteOwner(owner)">delete</md-button>
</md-divider>